nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid.p-3
    a.navbar-brand(href='#') Members Only
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(aria-current='page' href='/') Home
        li.nav-item
          a.nav-link(href='/about') About
        if currentUser 
          li.nav-item
            a.nav-link(href='/logout') Log out
          li.nav-item
            a.nav-link(href='/message') Add message
          li.nav-item
            a.nav-link(href='#') Join Clubhouse
        else 
          li.nav-item
            a.nav-link(href='/signup') Sign up
          li.nav-item
            a.nav-link(href='/login') Log in
