include layouts/header.pug

.container 
  h2.m-1 Home
  each message in messages 
    .card.mt-3
      .card-body
        h5.card-title.text-capitalize #{message.title}
        h6.card-subtitle.mb-2.text-muted Author: #{'unknown'}
        p.card-text #{message.text}
      .card-footer.text-muted Created: #{'unknown'}
  else 
    p.text-info There are no messages